<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.displayfort.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity
            android:name=".screen.NewHomeScreenActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack"
            android:windowSoftInputMode="stateHidden|adjustResize">


        </activity>
        <activity
            android:name=".screen.ActivitySplash"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemestart"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screen.LoginActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemestart"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screen.ForgetPasswordActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".newScreen.PartnerListActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".newScreen.MediaListActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".newScreen.MediaItemListActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".newScreen.ScreenListActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".newScreen.AdsProfileListActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".newScreen.ScheduleListActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screen.HomeActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screen.SubActivityScreen"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screen.ScreenDetailActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screen.UpdateGeneralActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screen.AssignAdsScreenActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screen.AddAdProfileActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screen.AddAdMediaActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screen.ScreenViewActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".screen.ScreenScheduleActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>